.pure-table {
  margin: 1rem;
  width: calc(100% - 2rem);
  overflow-x: auto;
}

.Table-container {
  overflow-x:auto;

  @media screen and (min-width: 64em) { overflow-x: visible; }
}

.Tables {
  width: 100%;
  margin: 1rem auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;

  &-title {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & > * {
    display: block;
    margin: 1rem auto;
    width: 90%;
  }

  & tr {
    width: 100%;
    display: flex;


    & > * {
      padding: 1rem;
      flex-grow: 1;
    }
  }

  & tr:last-child td{
    border-bottom: thin solid $medium;
  }

  & th,
  & td {
    border-top: thin solid $medium;
    text-align: center;
  }
}

@mixin cols($num) {
  .u-#{$num} {
    & th,
    & td {
      width: 100% / $num;
    }
  }
}

@include cols(4);
@include cols(6);

